/* NAVBAR */

.navbar {
  background-color: #41a317; /* LIME GREEN */
}
.navbar .navbar-brand {
  color: #ecf0f1; /* BLANCO CRUDO */
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #1a9405;
}
.navbar .navbar-text {
  color: #ecf0f1;
}
.navbar .navbar-text a {
  color: #053404;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #1a9405; 
}
.navbar .navbar-nav .nav-link {
  color: #ecf0f1;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #052D017;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #052D017;
  background-color: #1a9405;
}
.navbar .navbar-toggle {
  border-color: #2bf708;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #1a9405;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ecf0f1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ecf0f1;
}
.navbar .navbar-link {
  color: #ecf0f1;
}
.navbar .navbar-link:hover {
  color: #053404;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #053404;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #053404;
    background-color: #2bf708;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #053404;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #053404;
    background-color: #2bf708;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #053404;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #053404;
    background-color: #2bf708;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #053404;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #053404;
    background-color: #2bf708;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ecf0f1;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #1a9405;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #053404;
  background-color: #1a9405;
}

/* FOOTER STYLE */

#rbmvFooter {
position: relative;
z-index: 2;
height: 7em;
}

#rbmvFooter.footer {
background-color: #41A317;  /* LIME GREEN */
  padding: 4% 8%;
margin-top: 7em;
box-shadow: 0 3px 50px 0 rgba(43,45,66,0.4);
font-weight: 300;
font-size: 13px;
line-height: 25px;
}

#rbmvFooter.footer {
color: #FFFFFF;  /* WHITE */
  display: flex;
justify-content: space-between;
align-items: center;
line-height: 10px;
}

#scrollTop {
color: #ecf0f1; /* WHITE */
  }
  
/* Titles */

.exer {
  font-variant: small-caps; 
  color: green;
}